extends layout

block content



  div(ng-controller="beerController")

      //if (user)
          script.
            var user = !{JSON.stringify(user)}
            console.log(user)

      h1= title
      p Welcome to #{title}, the beer rating app !

      if (user)
          div(class="panel panel-primary")
              div(class="panel-heading actionLink")
                  h3(class="panel-title clickable", ng-click="showAddBeer=!showAddBeer")
                      a Add a beer
              div(class="panel-body panel-content", ng-show="showAddBeer")
                  ng-form(name="addBeer", class="has-feedback", ng-class="{'has-error': addBeer.$invalid && addBeer.$dirty, 'has-success': addBeer.$valid}")
                      div(class="row")
                          span(ng-show="addBeer.$dirty", class="glyphicon form-control-feedback", ng-class="{'glyphicon-ok': addBeer.$valid, 'glyphicon-remove ': addBeer.$invalid && addBeer.$dirty}", aria-hidden="true")
                          div(class="row")
                              div(class="col-md-3")
                                  label(class="control-label", for="name") Name
                                  span(class="glyphicon glyphicon-asterisk", aria-hidden="true", tooltip-trigger="mouseenter", tooltip="You must enter a name.")
                                  input(required type="text", name="name", ng-model="name", class="form-control", tooltip-trigger="keyup", tooltip="{{(addBeer.name.$invalid) ? 'You must enter a name.' : ''}}")

                              div(class="col-md-7")
                                  label(class="control-label", for="description") Description
                                  div(class="input-group")
                                      input(type="text", name="description", ng-model="description", class="form-control")
                                      span(class="input-group-btn")
                                           button(type="button", class="btn btn-default")
                                               i(class="glyphicon glyphicon-comment")

                          div(class="row")
                              div(class="col-md-6")
                                  label(class="control-label", for="where") Where did you drink it ?
                                  span(class="glyphicon glyphicon-map-marker")
                                  input(type="text", name="where", ng-model="where", class="form-control")
                              div(class="col-md-2")
                                  label(class="control-label", for="price") Price
                                  div(class="input-group")
                                      input(type="text", name="price", ng-model="price", class="form-control", ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/", tooltip-trigger="keyup", tooltip="{{(addBeer.price.$invalid) ? 'Format must be a number separated by . or ,' : ''}}")
                                      span(class="input-group-btn")
                                          button(type="button", class="btn btn-default")
                                              i(class="glyphicon glyphicon-euro")


                              div(class="col-md-2")
                                  div(class="control-group")
                                    br
                                    button(type="button", class="btn btn-primary", ng-click="addNewBeer(); showAddBeer = false;", ng-disabled="addBeer.$invalid") Add
      else
          p To add and rate beers, you need to be logged in.
          a(href="/auth/twitter", class="btn btn-info")
              span(class="") Login with Twitter

      beers