doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower/bluebird/js/browser/bluebird.js')
    script(src='/bower/angular/angular.js')
    script(src='/bower/angular-bluebird-promises/dist/angular-bluebird-promises.min.js')
    script(src='/bower/lodash/lodash.js')
    script(src='/bower/moment/moment.js')
    script(src='/bower/angular-moment/angular-moment.js')
    script(src='/bower/angular-bootstrap/ui-bootstrap-tpls.js')

    script(src='/js/app.js')

    script(src='/js/beer/beerService.js')
    script(src='/js/review/reviewService.js')
    script(src='/js/session/sessionService.js')

    script(src='/js/beer/beerDirective.js')

    script(src='/js/beer/beerController.js')
    script(src='/bower/restangular/dist/restangular.js')
  body(ng-app='beerio')
    include ./navbar.jade
    block content