nav.navbar.navbar-default
    .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#')
                img(src="images/beerio.png", class="pull-left logo")
                span Beerio
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    if (user)
                       img(class="pull-left" src="#{user.image}")

                li
                    if (user)
                        a(href='#') #{user.displayName}

                li
                    if (user)
                        a(href='/logout') Logout