body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo
{
    position: relative;
    width: 50px;
    height: 50px;
    bottom: 15px;
    margin-right: 10px;
}

.rating
{
    font-size: 20px;
}

.postReviewButton
{
    float: right;
}

.yourRating
{
   float: right;
   margin-right: 15px;
}

.clickable
{
    cursor: pointer;
}

.beerAccordion
{
    margin: 10px;
}

.underline
{
    text-decoration: underline;
}