<h3 ng-if="beers.length > 0">We have {{beers.length}} beers registered !</h3>

<div class="btn-group" ng-if="beers.length > 0" dropdown is-open="status.isopen">
    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
         Sort <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="choice in sorts track by choice.code">
            <a ng-click="selectSort(choice.code)" href="">{{choice.label}}</a>
        </li>
    </ul>
</div>

<div>
    <accordion close-others="true">
        <accordion-group class="beerAccordion" ng-repeat="beer in beers track by beer._id" heading="{{beer.name}} - {{beer.average != 0 ? 'average rating : ' + (beer.average | number:2) + '/10' : 'No review yet !'}}">
            <div class="media">
                <div class="media-left">
                        <img class="media-object" src="images/smallbeer.png" alt="Beer">
                        Added by <img ng-src="{{beer._user.image}}"> {{beer._user.displayName}}
                        <span>{{beer.created | amDateFormat:'DD/MM/YYYY'}}</span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{beer.name}}</h4>
                    {{beer.description}}
                    <p>
                    <span class="glyphicon glyphicon-map-marker" ng-if="beer.where">{{beer.where}}</span>
                    <span class="glyphicon glyphicon-euro" ng-if="beer.price">{{beer.price}}</span>
                    <rating ng-model="beer.average" max="10" readonly="true"></rating> {{beer.average != 0 ? 'average rating : ' + (beer.average | number:2) + '/10' : ''}}
                    </p>
                    <div class="reviews">
                        <span class="clickable underline" ng-click="getReviews(beer._id);showReviews = !showReviews">{{!showReviews ? 'Read reviews' : (reviews.length != 0 ? 'Hide reviews' : '') }}</span>
                        <span ng-if="reviews.length == 0 && showReviews">No review yet for this beer. Be the first !</span>
                        <div class="media" ng-show="showReviews" ng-repeat="review in reviews track by review._id">
                            <div class="media-left">
                                Added by <img ng-src="{{review._user.image}}"> {{review._user.displayName}}
                                <span am-time-ago="review.created"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"></h4>
                                    <p>
                                        {{review.comment}}
                                    </p>
                                <div>
                                  <rating ng-model="review.rating" max="10" readonly="true"></rating>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" ng-show="user" class="btn btn-info" ng-click="showRating = !showRating">{{!showRating ? 'Rate it !' : 'Close'}}</button>
                <div class="addReview form-group" ng-show="showRating">
                    <label for="review">Review :</label>
                    <textarea class="form-control" rows="5" id="review" ng-model="review.comment"></textarea>
                    <label for="rating">Rating :</label>
                    <div class="rating">
                        <rating ng-model="review.rate" max="10" on-hover="hoveringOver(value); overStar = value" on-leave="overStar = null"></rating>
                        <span class="label"
                              ng-class="{'label-warning': rateDisplay<4, 'label-info': rateDisplay>=4 && rateDisplay<7, 'label-success': rateDisplay>=7}"
                              ng-show="overStar">
                              {{rateDisplay}}
                        </span>
                        <button type="button" class="postReviewButton btn btn-primary" ng-click="postReview(beer);showRating = false">Post your review</button>
                        <span class="yourRating"  ng-class="{'label-warning': review.rate<4, 'label-info': review.rate>=4 && review.rate<7, 'label-success': review.rate>=7}">Your rating : {{review.rate}} / 10</span>
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>